html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html,
  header,
  body,
  div,
  h1,
  h2,
  h3,
  h4,
  p, 
  i {
    margin: 0;
    padding: 0;
  }

  .title{
      width: 100%;
  }

  .title h1 {
      height: 100px;
      line-height: 100px;
      text-align: center;
  }

  .main-container {
      width: 100%;
  }

  .main-flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
  }

  .flex-item {
      padding: 15px;
      border-radius: 10px;
      margin: 15px;
      margin-bottom: 0;
      background-color: lightgray;
      color: black;
      width: 20%;
  }

  @media only screen and (max-width: 1000px){
      .flex-item{
          width: 40%;
      }
  }
  @media only screen and (max-width: 600px){
    .flex-item{
        width: 90%;
    }
}